.normal-button {
    background-color: #3498db;
    color: #fff;
    font-size: 18px;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(189, 18, 18, 0.1); /* Add box shadow */
    transition: box-shadow 0.3s ease-in-out; /* Add transition for smooth effect */
  }
  
  .normal-button:hover {
    box-shadow: 0 8px 16px rgba(21, 39, 143, 0.2); /* Increase shadow on hover */
  }
  
  .normal-button:active {
    transform: translateY(2px); /* Add a slight downward shift when clicked */
  }
  