
.slide-cards-container {
    width: 60%;
    margin: 0px auto;
  }
  
  .card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 50px 0;
  }
  
  .card img {
    width: 95%;
    height: auto;
  }